body{
    display: grid;
    place-items: center;
    background-color: rgb(20, 46, 70);
}

#container{
    height: 390px;
    background-color: rgb(20, 48, 75);
    margin-top: 100px;
    width: 350px;
    padding: 20px 10px;
    box-shadow: 1px 1px 5px black;

}
#card{
    height: auto;
    /* box-shadow: 1px 1px 4px blue; */
    color: rgb(167, 167, 167);
    padding: 20px;
    border-radius: 10px;
    border-top: 3px solid rgb(34, 84, 177);
    background-color: rgb(21, 51, 80);
}
#head{
    text-align: center;
}
#head>h{
    font-size: 25px;
    color: white;
}
.input{
    font-size: 13px;
}
.input input{
    font-size: 13px;
    border: none;
    border-radius: 5px;
    margin: 10px 0px;
    width: 300px;
    height: 25px;
    color: rgb(145, 144, 143);
    box-shadow: 1px 1px 5px rgb(117, 116, 116);
    background-color: rgb(24, 59, 92);
}
.input input:hover{
    box-shadow: 1px 1px 5px rgb(2, 196, 255)
}
.input input:focus{
    outline: none;
    color: rgb(154, 156, 156);
}
#p-size{
    font-size: 13px;
    margin-top: 0px;
}
#checkbox{
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}
#checkbox div a{
    text-decoration: none;
    color: #09b0fd;
}
#submit{
    font-size: 13px;
    width: 310px;
    margin: 10px 0px;
    background-color: rgb(0, 217, 255);
    height: 29px;
    border-radius: 5px;
    border: none;
}
#footer{
    font-size: 13px;
}
#footer a{
    text-decoration: none;
    color: #09b0fd;
}
#f-button{
    border-radius: 10px;
    border: none;
    margin-top: 10px;
    padding: 5px;
    background-color: rgb(87, 63, 109);
    color: rgb(177, 173, 173);
    font-size: 11px;
}